fastapi
uvicorn[standard]
jinja2
python-dotenv
pydantic-settings
pyyaml

langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma
langchain-tavily

dashscope
chromadb

python-multipart
pypdf
httpx
pytest
pytest-asyncio
