fastapi
uvicorn[standard]
jinja2
python-dotenv
pydantic-settings

langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma

dashscope
chromadb

python-multipart
pypdf
httpx
pytest
pytest-asyncio
